<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>Login</title>
</head>
<body>
    <header>
        <div class="header-top">
            <img class="logo-liebre" src="images/logo-mercado-liebre.svg" alt="Logo">
            <div class="contenedorSearch">
                <form class="barrita" acction="/" >
                    <input class="search" type="text" placeholder="¿Que buscas?" name="search">
                    <button><i class="fa fa-search"></i></button>
                </form>
            </div>
            <h3 id="slogan" ><i class="fa-solid fa-sack-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h2>
        </div>        
            <ul class="lista-ingreso">
                <div class="compra">
                    <li>Ofertas</li>
                    <li>Tiendas Oficiales</li>
                    <li>Vender</li>
                    <li>Ayuda</li>
                </div>
                <div class="cuenta">
                    <a href="/register"><li>Creá tu cuenta <i class="fa-solid fa-user-group"></i></li></a>
                    <a href="/login"><li>Ingresá <i class="fa-solid fa-right-to-bracket"></i></li></a>
                    <li>Mis compras <i class="fa-solid fa-bag-shopping"></i></li>
                </div>
            </ul> 
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main class="login-html">
        <div>
            <form class="login">
                <input type="text" name="nombreLogin" id="nombreLogin" placeholder="Usuario">
                <input type="password" name="contrasenaLogin" id="contrasenaLogin" placeholder="Contraseña">
                <button class="botonEnviar" type="submit"><a href="/">Enviar</a></button>
            </form>
        </div>
    </main>
    <footer>
        <div class="cajas-footer">
            <div class="icono-footer">
                <i class="fa-solid fa-credit-card"></i>
            </div>
        <section>
            <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
    </div>
    <div class="cajas-footer">
            <div class="icono-footer">
                <i class="fa-solid fa-gift"></i>
            </div>
        <section>
            <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
    </div>
    <div class="cajas-footer">
            <div class="icono-footer">
                <i class="fa-solid fa-user-shield"></i>
            </div>
        <section>
            <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
    </div>
</footer>
<section class="copy">
    <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
</section>
    </footer>
</body>
</html>